<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- SummerNote0 -->

  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>
<body>

  <div class="box">

    <div class="jumbotron">
      <h1>
        <img src="http://www.n-ragedmedia.com/images/2011%20website%20images/MOVIES-page-banner-text.png" alt="" width="100%" height="100%">
      </h1>
    </div>

    <div class="row">
      <div class="maincontainer col-md-8">

        <div class="row">

          <div class="container col-xs-12 col-lg-12"  data-scroll-speed="4">

            <form name="blog" method="POST" action="/update/<%= posts.id %>">

              <div class="input-group">
                <label for="Author">Author:</label>
                <input type="text" class="form-control" placeholder="Username" id="Author" name="author" value="<%= posts.author %>">

              </div>

              <div class="input-group">
                <label for="Title">Title:</label>
                <input type="text" class="form-control" placeholder="Title" id="Title" name="title" value="<%= posts.title %>">
              </div>

              <div class="input-group">
                <label for="datetime">Date and Time:</label>
                <input type="date" class="form-control" placeholder="Date-time" id="Time" name="time" value="<%= posts.time %>">
              </div>
              <input class="hidden" type="text" name="content" value="<%= posts.content %>">
              <div class="input-group">
                <label for="image">Image:</label>
                <input type="text" class="form-control" placeholder="image url" id="Title" name="image" value="<%= posts.image %>">
              </div>
              <br>
              <div class="input-group">
                <textarea id="summernote" name="content2"><%= posts.content2 %></textarea>
                <script>
                $(document).ready(function () {
                  $('#summernote').summernote({
                    height: 150
                  });
                });
                </script>

              </div>


              <button type="submit" class="btn btn-danger">POST</button>
            </form>

          </div>


        </div>


      </div>
      <!-- nav-stacked -->
      <!------------------------------------------------------------------------->
      <div id="sidebar" class="sidebar col-md-4">
        <nav  class="bg-light">
          <ul class="nav nav-tabs flex-column" data-spy="affix" data-offset-top="615">
            <li><a class="text-danger" href="/">Home</a></li>
            <li><a class="text-danger" href="/archive">Archive</a></li>
            <li><a class="text-danger" href="/newBlog">Create Post</a></li>
            <li><a class="text-danger" href="/signUp">Sign Up</a></li>
            <li><div id="module" class="container">

              <p class="collapse" id="collapseExample" aria-expanded="false">

                    <input type="text" placeholder="First Name" name="name" value=""  maxlength="12" required>
                    <input type="text" placeholder="Last Name" name="surname" value="">
                    <input type="email" placeholder="E-mail" name="email" value="">
                    <input type="password" placeholder="Password" name="password" value="">
                    <button class="btn btn-secondary" onclick="myFunction()"><span id="signOut">Sign In</span></button>

              </p>
              <h3><a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              </a></h3>

            </div></li>
          </ul>
        </nav>
        <!-------------------------------------->

      </div>

    </div>
  </div>
  <div id="footer" class="footer">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">All rights reserved 2018 | </h3>
      </div>


    </div>
  </div>

  <script type="text/javascript">

  $(".show-more-button").on('click', function() {
    // If text is shown less, then show complete
    if($(this).attr('data-more') == 0) {
      $(this).attr('data-more', 1);
      $(this).css('display', 'block');
      $(this).text('Hide');

      $(this).prev().css('display', 'none');
      $(this).prev().prev().css('display', 'inline');
    }
    // If text is shown complete, then show less
    else if(this.getAttribute('data-more') == 1) {
      $(this).attr('data-more', 0);
      $(this).css('display', 'inline');
      $(this).text('Read More');

      $(this).prev().css('display', 'inline');
      $(this).prev().prev().css('display', 'none');
    }
  });

  //////////////////////////////////////////////////////////////////////////
  // scroll speed
  $.fn.moveIt = function(){
    var $window = $(window);
    var instances = [];

    $(this).each(function(){
      instances.push(new moveItItem($(this)));
    });

    window.addEventListener('scroll', function(){
      var scrollTop = $window.scrollTop();
      instances.forEach(function(inst){
        inst.update(scrollTop);
      });
    }, {passive: true});
  }

  var moveItItem = function(el){
    this.el = $(el);
    this.speed = parseInt(this.el.attr('data-scroll-speed'));
  };

  moveItItem.prototype.update = function(scrollTop){
    this.el.css('transform', 'translateY(' + -(scrollTop / this.speed) + 'px)');
  };

  // Initialization
  $(function(){
    $('[data-scroll-speed]').moveIt();
  });

  ///////////////////////////////////////////////////////////////////////


  $(function(){
    $('.navbar').affix({
      offset: {
        /* Affix the navbar after scroll below header */
        top: $("header").outerHeight(true)}
      });
    });
    //////////////////////////////////////
    // footer
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
          document.getElementById("footer").style.display = "block";
      } else {
          document.getElementById("footer").style.display = "none";
      }
    }
    </script>
  </body>
  </html>
